html,body {
    background-color: #f0f0f0;  
}
nav ul {
    display:flex;
    justify-content: flex-end;
    background-color: #4b453f;
    color: white;
    padding: 10px;
}
nav ul a {
    color: white;
    text-decoration: none;
    margin: 0 10px; 
    transition: all 0.3s ease;
}
nav ul a:hover {
    background-color: #ff5500;
}
.about-section h2{
    color : #343A40
}